{% extends "base_home.html" %}
{% load thumbnail %}
{% load extended_flatpages %}
{% load staticfiles %}
{% block headline %}
{% get_flatpages '/headline/' as page %}
      <div class="heroimage">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-8">
              <h1 class="headline">{{ page.0.title }}</h1>
              {{ page.0.content|safe }}
              </div>
          </div>
      </div>
          </div>
{% endblock %}
{% block content %}
{% get_flatpages '/bienvenida/' as page %}
          <div class="row bienvenidos">
              <div class="col-md-4 telefono">
                  <img src="/media/{{ page.0.image }}">
              </div>
              <div class="col-md-7">
              <h2>{{ page.0.title }}</h2>
              <p>{{ page.0.content|safe }}
              </p>
              </div>
              <div class="col-md-1"></div>
          </div>
{% endblock %}
{% block productos %}
      <div class="productosgris">
      <div class="container">          
          <div class="row productos">
              <h2>PRODUCTOS</h2>
              <p>Duis blandit lacus nec elit malesuada, eget dignissim elit lobortis. Proin tristique vulputate laoreet. Vestibulum tincidunt tellus vitae massa euismod dapibus quis nec elit.</p>
          </div>
          <div class="row servicios">
          <div class="col-md-4 faqs">
              <img class="img-responsive" src="{% static 'images/faqs.png' %}">
              <h3>PREGUNTAS FRECUENTES</h3>
              <p>Nullam neque justo, pulvinar quis massa in, aliquam venenatis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam vel sapien enim. Suspendisse potenti.</p>
              <a href="#">Leer Más</a>
            </div>
              <div class="col-md-4 taller">
                  <img class="img-responsive" src="{% static 'images/talleres.png' %}">
              <h3>TALLERES / WEBINARS</h3>
              <p>Nullam neque justo, pulvinar quis massa in, aliquam venenatis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam vel sapien enim. Suspendisse potenti.</p>
              <a href="#">Leer Más</a>
            </div>
              <div class="col-md-4 sms">
                  <img class="img-responsive" src="{% static 'images/sms.png' %}">
              <h3>INFORMACIÓN POR SMS</h3>
              <p>Nullam neque justo, pulvinar quis massa in, aliquam venenatis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam vel sapien enim. Suspendisse potenti.</p>
              <a href="#">Leer Más</a>
            </div>
          </div>
      </div>
      </div>
{% endblock %}
{% block foros %}
<div class="foros">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="gray-box">
                   
                </div>
            </div>
            <div class="col-md-6 forocol">
                <h2>FOROS</h2>
{% for object in events %}
                <div class="foro">
                    <p class="fecha">{{ object.inicio|date }} | {{ object.place }}</p>
                    <p class="nombre">{{ object.title }} </p>
                </div>
{% empty %}
    <li>No objects yet.</li>
{% endfor %}
                <a href="/eventos/">Ver Todos</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block beneficios %}
          <div class="row beneftitulo">
              <h2>BENEFICIOS</h2>
          </div>
          <div class="row beneficios">
{% for object in fields %}
              <div class="col col-md-3">
              <img src="{% static 'images/educacion.png' %}">
              <h3>{{ object.title | upper}}</h3>
              <p>{{ object.description }}
              </p></div>
{% empty %}
    <li>No objects yet.</li>
{% endfor %}
          </div>
{% endblock %}
