{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% block headline %}
      <div class="headerimg">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="headline">{{ flatpage.title }}</h1>
              </div>
          </div>
      </div>
          </div>
{% endblock %}
{% block content %}
              <div class="col-md-7">
              {{ flatpage.content|safe }}
              </div>
              <div class="col-md-1"></div>
{% endblock %}
{% block productos %}
          <div class="col-md-4 productosinner">
              <h2>PRODUCTOS</h2>
              <p>Productos desarrollados e implementados por Cacao Móvil</p>
{% for object in products %}
          <div class="{{ object.nickname }}">
              {% thumbnail object.image "362x204" crop="center" as img %}
              <a href="{{ object.url }}"><img class="img-responsive" src="{{ img.url }}"></a>
              <h3>{{ object.title }}</h3>
              <p>{{ object.description }}
              </p>
              <a href="{{ object.url }}">Leer Más</a>
            </div>
{% endfor %}
              </div>
{% endblock %}
{% block foros %}
{% endblock %}
{% block beneficios %}
{% endblock %}
