{% extends "base.html" %}
{% load staticfiles %}
{% block headline %}
      <div class="headerimg">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="headline">{{ flatpage.title }}</h1>
              </div>
          </div>
      </div>
          </div>
{% endblock %}
{% block content %}
              <div class="col-md-7">
              {{ flatpage.content|safe }}
              </div>
              <div class="col-md-1"></div>
{% endblock %}
{% block productos %}
          <div class="col-md-4 productosinner">
              <h2>PRODUCTOS</h2>
              <p>Duis blandit lacus nec elit malesuada, eget dignissim elit lobortis.</p>
              <div class="faqs">
                <img class="img-responsive" src="{% static 'images/faqs.png' %}">
                <h3>PREGUNTAS FRECUENTES</h3>
              </div>
              <div class="taller">
                <img class="img-responsive" src="{% static 'images/talleres.png' %}">
                <h3>TALLERES / WEBINARS</h3>
              </div>
              <div class="sms">
                <img class="img-responsive" src="{% static 'images/sms.png' %}">
                <h3>INFORMACIÓN POR SMS</h3>
              </div>
              </div>
{% endblock %}
{% block foros %}
{% endblock %}
{% block beneficios %}
{% endblock %}
