{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
      <div class="headerimg">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="headline">ACERCA DE</h1>
              </div>
          </div>
      </div>
          </div>
{% endblock %}
{% block welcome %}
                  <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id euismod nunc. Sed hendrerit dapibus nibh, ullamcorper venenatis tellus sagittis vitae. Etiam mollis ex nibh, a scelerisque metus pretium sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc posuere tristique malesuada. Nulla mollis condimentum massa vitae sodales. Nam efficitur est id augue ornare, in mattis quam sagittis.
                  <p>Donec risus leo, tempus nec arcu sed, gravida venenatis dui. Duis at tincidunt odio. Aliquam viverra faucibus eros eu pharetra. Vivamus tristique purus at semper sodales. Donec congue nulla eget sodales auctor. Sed malesuada ullamcorper metus quis pulvinar. Quisque quis elit magna. In bibendum tempus scelerisque. Proin a neque vitae turpis condimentum gravida ut tincidunt tellus. Donec sit amet vestibulum odio. Ut accumsan ac ante sed mattis. Sed et aliquet nisl. Aliquam erat volutpat. Proin et tortor vulputate, ullamcorper quam vel, interdum nunc. Sed in imperdiet magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                  <p>Nunc velit tellus, cursus sit amet dictum nec, eleifend a quam. Morbi sed tellus ac ligula dapibus sodales sit amet et dolor. Quisque pellentesque dui non tristique ornare. Nulla lacus ex, porta sit amet eleifend rhoncus, rhoncus ac augue. Suspendisse bibendum neque vel varius tincidunt. Duis id ultrices ipsum, non hendrerit felis. In id elit aliquet, maximus mi vitae, molestie justo. Nam eu ipsum tellus.</p>
{% endblock %}
{% block productos %}
          <div class="col-md-4 productosinner">
              <h2>PRODUCTOS</h2>
              <p>Duis blandit lacus nec elit malesuada, eget dignissim elit lobortis.</p>
              <div class="faqs">
                <img class="img-responsive" src="{% static 'images/faqs.png' %}">
                <h3>PREGUNTAS FRECUENTES</h3>
              </div>
              <div class="taller">
                <img class="img-responsive" src="{% static 'images/talleres.png' %}">
                <h3>TALLERES / WEBINARS</h3>
              </div>
              <div class="sms">
                <img class="img-responsive" src="{% static 'images/sms.png' %}">
                <h3>INFORMACIÓN POR SMS</h3>
              </div>
              </div>
{% endblock %}
{% block foros %}
{% endblock %}
{% block beneficios %}
{% endblock %}
