.contacto {
    background:#7c003f;
    color:#fff;
    padding: 10px;
}
.contacto:hover {
    color:#fff;
}
body {
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
        font-size: 16px;
    line-height: 1.5;
}
nav a {
    font-family: 'Oswald', sans-serif;
    padding: 10px 0;
    display: block;
    font-size: 20px;
    color: #b2b2b2;
    margin: 0 10px;
}
nav a:hover {
 text-decoration: none;
    color:#b2b2b2;
}
nav ul li {
    display: inline-block;
}
.active a {
    border-bottom: 3px solid #b2bb1e;
}
nav ul {
    text-align: right;
}
.heroimage h1, .heroimage p {
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}
.colores:after {
    display: table;
    content: '';
    clear:both
}
.color {
    width: 20%;
    height: 10px;
    position: relative;
    float: left;
}
.verde {
    background:#b2bb1e;
}
.turquesa {
    background:#00a389;
}
.amarillo {
    background:#e7a614;
}
.rojo {
    background:#7c0040;
}
.cafe {
    background:#472a2b;
}
.telefono img {
    margin-top: -295px;
    margin-bottom: 50px;
}
.telefono {
text-align: right;
}
.servicios img {
    border-radius: 10px;
}
.servicios h3 {
    font-family: 'Oswald', sans-serif;
    font-size:30px;
    position: relative;
    margin-bottom: 40px;
}
.servicios a {
 font-weight: bold;   
    font-size: 20px;
    color:#5a5a5a;
}
.servicios a:hover {
 text-decoration: none;
}
.faqs:before {
    content: '';
    width: 119px;
    height: 119px;
    background-image: url(../images/faqicon.png);
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    margin: auto;
}
.taller:before {
    content: '';
    width: 127px;
    height: 120px;
    background-image: url(../images/tallericon.png);
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    margin: auto;
}
.sms:before {
    content: '';
    width: 78px;
    height: 119px;
    background-image: url(../images/smsicon.png);
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    margin: auto;
}
.foros{
    overflow: hidden;
    background: #e7a614;
}
.foros a {
    color: #5a5a5a;
    padding: 10px 30px;
    border: 1px solid #5a5a5a;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.foros a:hover {
text-decoration: none;
}
.forocol {
    padding-left: 40px;
}
.contactenos{
    overflow: hidden;
    background: #472a2b;
    color:#FFF;
}
.contactenos h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    position:relative;
    margin-bottom: 40px;
    margin-top: 40px;
}
.contactenos p {
 margin-bottom: 0;   
}
.gray-box{
    background-image: url(../images/foroscacao.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    padding: 0 15px 9999px 9999px;
    margin: 0 -15px -9999px -9999px;
}
.black-box {
    background-image: url(../images/contactocacao.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 9999px 9999px 15px;
    margin: 0 -9999px -9999px -15px;
}
.content h2 {
    font-weight: 900;
    color: #7c0040;
}
.headerimg {
    background-image: url(../images/cacaoint.jpg);
    color:#fff;
}
.listitem {
 margin-bottom: 20px;   
}
.listitem img {
    margin-right: 20px;
}
.listitem a {
    color:#b2bb1e;
}
.listitem a:hover {
    text-decoration:none;
    color:#b2bb1e;
}
.productosinner div {
 position:relative;   
}
.productosinner h3 {
     font-family: 'Oswald', sans-serif;
    font-size: 30px;
    position: relative;
    margin-bottom: 40px;   
}
.productosinner h2 {
    color:#5a5a5a;
}
.productosinner img {
    border-radius: 10px;   
}
.heroimage {
        background-image: url(../images/banner.jpg);
    color:#fff;
}
.heroimage p {
 font-size: 20px;
    margin-bottom: 20px;
}
.productosgris {
    background: #eee;
    padding-top: 30px;
    padding-bottom: 60px;
}
.content {
    padding-top: 30px;
    padding-bottom: 60px;
}
.headerrow {
    padding-top: 20px;
    padding-bottom: 20px;
}
.headerimg .headline {
    margin-top: 140px;
    margin-bottom:20px;
}
.headline {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.gplay {
 margin-bottom: 50px;   
}
.heroimage .row {
    padding-top: 50px;
}
.bienvenidos {
padding-top: 10px;
}
.bienvenidos h2 {
    font-weight: 900;
    color: #7c0040;
}   
.productos h2 {
    font-weight: 900;
}
.beneftitulo h2 {
    font-weight: 900;
    text-align: center;
    margin-top:50px;
}
.foros h2 {
    font-weight: 900;
    border-bottom: 1px solid #5a5a5a;
    padding-bottom: 10px;
}
.productos p {
    font-size: 20px;
    margin-bottom: 40px;
}
.bienvenidos p {
 font-size: 20px;   
}
.productos {
    text-align: center;
}
.faqs h3:before {
    content:'';
    width: 80px;
    height: 5px;
    background: #00a389;
    position: absolute;
    bottom: -20px;
}
.taller h3:before {
    content:'';
    width: 80px;
    height: 5px;
    background: #e7a614;
    position: absolute;
    bottom: -20px;
}
.sms h3:before {
    content:'';
    width: 80px;
    height: 5px;
    background: #7c0040;
    position: absolute;
    bottom: -20px;
}
.beneficios .col {
    text-align: center;
}
.beneficios {
 margin-bottom: 50px;   
}
.beneficios h3 {
    font-weight: 900;
    color: #7C0040;
}
.fecha {
 color:#fff; 
    margin-bottom: 5px;
}
.nombre {
 font-size: 20px;
    font-weight: bold;
}
.foro {
margin-bottom:20px;
}
.contactenos h2:before {
    content:'';
    width: 80px;
    height: 5px;
    background: #e7a614;
    position: absolute;
    bottom: -20px;
}
.cooperacion {
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid #5a5a5a;
}
.lwr {
font-size: 20px;
font-weight: bold;}
.copyright {
 margin-top: 240px;
    margin-bottom:20px !important;
}
