{% extends "base.html" %}
{% load thumbnail %}
{% load flatpages %}
{% block headline %}
{% get_flatpages '/eventos/' as page %}
      <div class="headerimg">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="headline">{{ page.0.title }}</h1>
              </div>
          </div>
      </div>
          </div>
{% endblock %}
{% block content %}
{% get_flatpages '/eventos/' as page %}
              <div class="col-md-8">
                  <!-- <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2> -->
                  <p>{{ page.0.content|safe }}</p>
                  {% for object in object_list %}
                  <div class="listitem clearfix">
                    <h2>{{ object.title }}</h2>
                    {% thumbnail object.image "200x133" crop="center" as img %}
                    <a href="{{ object.url }}">
                    <img src="{{ img.url }}" alt="" class="img-responsive pull-left" >
                    </a>
                    <i>{{ object.inicio|date }}</i>
                    <p>{{ object.description|truncatewords:35 }}</p>
                    <a href="#">VER MAS</a>
                  </div>
                  {% empty %}
                    <li>No objects yet.</li>
                  {% endfor %}
              </div>
{% endblock %}
